.grid {
  display: grid;
}

.flex-row {
  display: flex;
}

[class*='flex-wrap'] {
  flex-wrap: wrap;
}

.align-content-between {
  align-content: space-between;
}

.center-xy {
  justify-content: center;
  align-items: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.flex-row-responsive {
  display: flex;
  flex-direction: row;

  @include breakpoint-down(large) {
    flex-direction: column;
  }
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-items-flex-start {
  align-items: flex-start;
}
