@each $prop, $value in $type-scale {
  @if $prop == 'xl' {
    .fs-#{$prop} {
      font-size: var(--fs-#{$prop});
      line-height: 0.87;
    }
  }
  @if $prop == '900' {
    .fs-#{$prop} {
      font-size: var(--fs-#{$prop});
      line-height: 0.92;
    }
  } @else {
    .fs-#{$prop} {
      font-size: var(--fs-#{$prop});
    }
  }
}

@each $prop, $value in $type-weight {
  .fw-#{$prop} {
    font-weight: var(--fw-#{$prop});
  }
}

@each $prop, $value in $type-family {
  .ff-#{$prop} {
    font-family: var(--ff-#{$prop});
  }
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}
