$grid-cols: 12;

.col-6 {
  @include breakpoint(large) {
    width: calc(6 / $grid-cols * 100%);
  }
}

.col-4 {
  @include breakpoint(large) {
    width: calc(4 / $grid-cols * 100%);
  }
}

.col-2 {
  @include breakpoint(large) {
    width: calc(2 / $grid-cols * 100%);
  }
}
