.sit-foot {
  margin-top: 10rem;
  padding: 3.25rem 0;
  
  > .container {
    margin-bottom: 1.625rem;
    gap: 3rem 1rem;
    @include breakpoint-down(small) {
      justify-items: flex-start;
    }

    h2 {
      color: inherit;
    }

    p {
      --width: 39ch;
      color: inherit;
      margin-top: 3.125rem;
      line-height: 1.875rem;
    }
  }

  &__navigation {
    nav {
      margin-top: 3.125rem;
      ul {
        color: inherit;
  
        > li {
          color: inherit;
          margin-top: 1rem;
  
          > a {
            color: inherit;
          }
        }
      }
    }
  }

  &__contact {
    nav {
     margin-top: 3.125rem;
    ul {
      > li {
        > a {
          > * {
            > * {
              height: 3.5625rem;
              aspect-ratio: 1 /1;
              margin-right: 1rem;
              border-radius: var(--border-radius-8);
            }
          }
        }
      }
    }
  }
}

  .copyright {
    p {
      color: inherit;
      margin-top: 1rem;
    }

    border-top: 1px solid rgba(0, 0, 0, 0.13);
  }
}
