.site-head {
  padding-top: 3.1875rem;

  &__navigation {
    @include breakpoint-down(large) {
      justify-content: center;
      position: absolute;
      inset: 0 0 0 50%;
      z-index: 999;
      background: var(--clr-primary-600);
      transform: translateX(100%);
      &[data-visible='true'] {
        transform: translateX(0);
      }
    }

    nav {
      > ul {
        li {
          margin-inline-start: 2.75rem;
          @include breakpoint-down(large) {
            margin-inline-start: 0;
            margin-block-start: 1.5rem;
          }
        }
      }
    }
  }

  [role='button'] {
    @include breakpoint(xlarge) {
      display: none;
    }
    &#nav-close {
      @include position(absolute, $top: 3rem, $right: 3rem);
    }
  }
}
