.main-title {
  border-bottom: 1px solid var(--clr-primary-600);
  margin-bottom: 7.0625rem;
  gap: 1rem;
  @include breakpoint-down(small) {
    flex-direction: column;
  }

  a {
    position: relative;
    margin-bottom: 1.3125rem;
    @include breakpoint-down(small) {
      padding: 0.1rem 1rem;
    }

    @include pseudo($top: 0, $left: 0, $z-index: -555) {
      width: 100%;
      height: 100%;
      background: var(--clr-primary-600);
      opacity: 1;
      transition: 0.5s;
    }

    &:hover,
    &:focus {
      @include pseudo($top: 0, $left: -0.625, $z-index: -555) {
        width: 105%;
        height: 111%;
      }
    }

    > * {
      font-size: var(--h4-clamp);
      margin-inline-end: 1rem;
    }
  }
}
